<ul x-data="{ selectedModule: '{{ page.categories[0] }}', selectedModuleCategory: '{{ page.categories[1] }}' }">
  <li class="mt-[25px] pl-[15px] font-bold text-slate-400">DBs</li>
  {% assign pages = site.pages | where_exp: "item", "item.categories[0] == 'RDB'" %}
  <li><ul>{% include modules_menu.html collection=pages %}</ul></li>
  <li class="mt-[25px] pl-[15px] font-bold text-slate-400">Devices</li>
  {% assign pages = site.pages | where_exp: "item", "item.categories[0] == 'SBC'" %}
  <li><ul>{% include modules_menu.html collection=pages %}</ul></li>
  <li class="mt-[25px] pl-[15px] font-bold text-slate-400">Languages</li>
  {% assign pages = site.pages | where_exp: "item", "item.categories[0] == 'C++'" %}
  <li><ul>{% include modules_menu.html collection=pages %}</ul></li>
  {% assign pages = site.pages | where_exp: "item", "item.categories[0] == 'CSS'" %}
  <li><ul>{% include modules_menu.html collection=pages %}</ul></li>
  {% assign pages = site.pages | where_exp: "item", "item.categories[0] == 'JavaScript'" %}
  <li><ul>{% include modules_menu.html collection=pages %}</ul></li>
  {% assign pages = site.pages | where_exp: "item", "item.categories[0] == 'Elixir'" %}
  <li><ul>{% include modules_menu.html collection=pages %}</ul></li>
  {% assign pages = site.pages | where_exp: "item", "item.categories[0] == 'Erlang'" %}
  <li><ul>{% include modules_menu.html collection=pages %}</ul></li>
  {% assign pages = site.pages | where_exp: "item", "item.categories[0] == 'Ruby'" %}
  <li><ul>{% include modules_menu.html collection=pages %}</ul></li>
  {% assign pages = site.pages | where_exp: "item", "item.categories[0] == 'Rust'" %}
  <li><ul>{% include modules_menu.html collection=pages %}</ul></li>
  {% assign pages = site.pages | where_exp: "item", "item.categories[0] == 'Memos'" %}
  <li class="mt-[25px]"><ul>{% include modules_menu.html collection=pages %}</ul></li>
  <li class="mt-[25px] pl-[15px] font-bold text-slate-400">OSs</li>
  {% assign pages = site.pages | where_exp: "item", "item.categories[0] == 'Linux'" %}
  <li><ul>{% include modules_menu.html collection=pages %}</ul></li>
  {% assign pages = site.pages | where_exp: "item", "item.categories[0] == 'Protocols'" %}
  <li class="mt-[25px]"><ul>{% include modules_menu.html collection=pages %}</ul></li>
  <li class="mt-[25px] pl-[15px] font-bold text-slate-400">Tools</li>
  {% assign pages = site.pages | where_exp: "item", "item.categories[0] == 'ROS 2'" %}
  <li><ul>{% include modules_menu.html collection=pages %}</ul></li>
  {% assign pages = site.pages | where_exp: "item", "item.categories[0] == 'Unclassified'" %}
  <li><ul>{% include modules_menu.html collection=pages %}</ul></li>
</ul>
