<ul x-data="{ selectedModule: '{{ page.collection }}', selectedModuleCategory: '{{ page.category }}' }">
  <li class="mt-[25px] pl-[15px] font-bold text-slate-400">DBs</li>
  <li><ul>{% include modules_menu.html collection=site.RDB %}</ul></li>
  <li class="mt-[25px] pl-[15px] font-bold text-slate-400">Devices</li>
  <li><ul>{% include modules_menu.html collection=site.SBC %}</ul></li>
  <li class="mt-[25px] pl-[15px] font-bold text-slate-400">Languages</li>
  <li><ul>{% include modules_menu.html collection=site.CSS %}</ul></li>
  <li><ul>{% include modules_menu.html collection=site.JavaScript %}</ul></li>
  <li><ul>{% include modules_menu.html collection=site.Elixir %}</ul></li>
  <li><ul>{% include modules_menu.html collection=site.Ruby %}</ul></li>
  <li><ul>{% include modules_menu.html collection=site.Rust %}</ul></li>
  <li class="mt-[25px]"><ul>{% include modules_menu.html collection=site.Memos %}</ul></li>
  <li class="mt-[25px] pl-[15px] font-bold text-slate-400">OSs</li>
  <li><ul>{% include modules_menu.html collection=site.Linux %}</ul></li>
  <li class="mt-[25px]"><ul>{% include modules_menu.html collection=site.Protocols %}</ul></li>
  <li class="mt-[25px] pl-[15px] font-bold text-slate-400">Tools</li>
  <li><ul>{% include modules_menu.html collection=site.ROS_2 %}</ul></li>
  <li><ul>{% include modules_menu.html collection=site.Unclassified %}</ul></li>
</ul>
