<!DOCTYPE html>
<html lang="ja" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/output.css"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    {% include ogp.html %}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="h-full relative overflow-hidden">
    <div class="flex flex-row absolute inset-0"
         x-data="{openSidebar: true}"
         x-init="width = (window.innerWidth > 0) ? window.innerWidth : screen.width; if (width < 768) { openSidebar = false }"
         x-on:resize.window="width = (window.innerWidth > 0) ? window.innerWidth : screen.width; if (width < 768) { openSidebar = false }"
         x-cloak
    >
      <button class="absolute z-10"
              x-on:click="openSidebar = ! openSidebar"
              x-bind:class="openSidebar ? 'text-white top-[20px] left-[250px]' : 'text-black top-[10px] left-[10px]'"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
      <aside class="flex flex-col w-[300px] bg-slate-900 text-slate-300 font-light"
             x-show="openSidebar"
             x-data="{ tabNames: ['PAGES', 'MODULES'], activeTab: 'PAGES' }"
      >
        <div class="mt-[12px]">
          <form class="relative">
            <button class="absolute inset-y-0 left-[22px] text-slate-500">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3.0" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
              </svg>
            </button>
            <label>
              <p class="sr-only">Search</p>
              <input type="text" placeholder="Not implemented..." aria-label="Input your search terms" autocomplete="off" class="ml-[12px] pl-[38px] py-[8px] pr-[6px] w-[276px] form-input bg-slate-800"/>
            </label>
          </form>
        </div>
        <div class="m-[12px] bg-slate-800">
          <div>
            <img src="/assets/images/logo.png" alt="Tombo Notes Logo" class="inline-block align-bottom h-12 w-12 ml-2.5">
            <div class="inline-block mt-1.5 ml-2.5">
              <p><a href="{{ site.baseurl }}/" class="font-bold text-xl text-slate-50">Tombo Notes</a></p>
              <p class="text-white"><span class="text-[8px]">🤍</span>vD.E.V</p>
            </div>
          </div>
          <nav aria-label="Tabs" class="flex flex-nowrap pt-3">
            <template x-for="tabName in tabNames">
            <button class="px-2.5 text-sm hover:border-b-[3px] hover:border-violet-400 hover:text-slate-50"
                    x-on:click="activeTab = tabName"
                    x-bind:class="activeTab === tabName ? 'border-b-[3px] border-violet-400 text-slate-50' : 'border-b-[3px] border-transparent text-slate-400'"
                    x-text="tabName">
            </button>
            </template>
          </nav>
        </div>
        <div class="overflow-y-auto
                    scrollbar:w-[14px]
                    scrollbar-thumb:bg-gray-500 scrollbar-thumb:rounded-[10px] scrollbar-thumb:border-slate-900 scrollbar-thumb:border-solid scrollbar-thumb:border-[3px]
                    scrollbar-track:bg-gray-900"
             x-show="activeTab !== null"
        >
        <div x-show="activeTab === 'PAGES'" x-transition>
          <ul class="pt-[20px]">
            {% assign page_names = "todos,links" | split: "," %}
            {% for page_name in page_names %}
            <li class="py-[3px]">
              <a href="/{{ page_name }}"
                 x-bind:class="'/{{ page_name }}' === '{{ page.url }}' ? 'pl-[12px] border-l-[3px] border-violet-400 text-violet-400' : 'pl-[15px]'"
              >{{ page_name | capitalize }}</a>
            </li>
            {% endfor %}
            <li class="pl-[15px] mt-[25px] font-bold text-slate-400">Posts</li>
            <li>
              <ul x-data="{ selectedYear: '{{ page.date | date: '%Y' }}' }">
                {% assign year_groups = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
                {% for year_group in year_groups %}
                <li class="mr-[30px] relative" x-data="{ openYear: selectedYear === '{{ year_group.name }}' }">
                  <span class="cursor-pointer py-[3px]"
                        x-on:click="openYear = true"
                        x-bind:class="selectedYear === '{{ year_group.name }}' ? 'pl-[12px] border-l-[3px] border-violet-400 text-violet-400' : 'pl-[15px]'"
                  >{{ year_group.name }} ({{ year_group.items.size }})</span>
                  <button class="absolute right-[2px]"
                          x-bind:class="selectedYear === '{{ year_group.name }}' ? 'text-violet-400' : 'text-white'"
                          x-on:click="openYear = ! openYear"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="w-4 h-4" x-show="! openYear">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="w-4 h-4" x-show="openYear">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
                    </svg>
                  </button>
                  <ul class="ml-[10px] my-[9px]"
                      x-show="openYear" x-transition
                      x-data="{ selectedMonth: '{{ page.date | date: '%Y-%m' }}' }"
                  >
                    {% assign month_groups = year_group.items | group_by_exp: "post", "post.date | date: '%Y-%m'" %}
                    {% for month_group in month_groups %}
                    <li class="px-[8px] py-[2px]" x-data="{ openMonth: selectedMonth === '{{ month_group.name }}' }">
                      <span class="cursor-pointer pl-[15px] py-[3px]"
                            x-on:click="openMonth = true"
                            x-bind:class="selectedMonth === '{{ month_group.name }}' ? 'text-violet-400' : ''"
                      >{{ month_group.name }} ({{ month_group.items.size }})</span>
                      <button class="absolute right-[0px]"
                              x-bind:class="selectedMonth === '{{ month_group.name }}' ? 'text-violet-400' : 'text-white'"
                              x-on:click="openMonth = ! openMonth"
                      >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5" x-show="! openMonth">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5" x-show="openMonth">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                        </svg>
                      </button>
                      <ul class="ml-[10px] my-[9px]" x-show="openMonth" x-transition>
                        {% for post in month_group.items %}
                        <li class="ml-[8px] px-[10px]"
                            x-bind:class="'{{ page.url }}' === '{{ post.url }}' ? 'border-l-[1px] border-violet-500 text-violet-400' : 'border-l-[1px] border-slate-700'"
                            x-init="if ('{{ page.url }}' === '{{post.url}}') { selectedYear = '{{ year_group.name }}'; selectedMonth = '{{ month_group.name }}' }"
                        ><a href="{{ post.url }}" class="py-[3px]" >{{ post.title }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
        <div x-show="activeTab === 'MODULES'" x-transition>COMING SOON..</div>
        </div>
      </aside>
      <main class="flex-1 overflow-y-auto">
      {{ content }}
      {% include footer.html %}
      </main>
    </div>
  </body>
</html>
