<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/output.css"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    {% include ogp.html %}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    <div class="flex flex-row">
      <aside class="flex flex-col w-72 bg-slate-900 text-slate-400" x-data="{ tabNames: ['PAGES', 'LINKS', 'TECHS'], activeTab: 'PAGES' }">
        <div class="mx-3 mt-3 bg-slate-800">
          <form>
            <label>
              <p class="sr-only">Search</p>
              <input type="text" placeholder="Search..." aria-label="Input your search terms" autocomplete="off" class="form-input w-full bg-inherit"/>
            </label>
          </form>
        </div>
        <div class="h-24 mx-3 mt-3 bg-slate-800">
          <div>
            <img src="/assets/images/logo.png" alt="Tombo Notes Logo" class="inline-block align-bottom h-12 w-12 ml-2.5">
            <div class="inline-block mt-1.5 ml-2.5">
              <p><a href="{{ site.baseurl }}/" class="font-bold text-xl text-slate-50">Tombo Notes</a></p>
              <p class="font-light text-white"><span class="text-[8px]">▼</span>v0.0.0</p>
            </div>
          </div>
          <nav aria-label="Tabs" class="flex flex-nowrap pt-3">
            <template x-for="tabName in tabNames">
            <button class="px-2.5 font-light text-sm hover:border-b-[3px] hover:border-violet-400 hover:text-slate-50" x-on:click="activeTab = tabName" x-bind:class="activeTab === tabName ? 'border-b-[3px] border-violet-400 text-slate-50' : ''" x-text="tabName"></button>
            </template>
          </nav>
        </div>
        <div x-show="activeTab === 'PAGES'">
        {% assign year_groups = site.posts | group_by_exp: "post", "post.date | date: '%Y'"  %}
        {% for year_group in year_groups %}
            <li x-on:click="yearOpen = ! yearOpen">{{ year_group.name }} ({{ year_group.items.size }})</li>
          <ul x-data="{ yearOpen: false }">
            {% assign month_groups = year_group.items | group_by_exp: "post", "post.date | date: '%Y-%m'"  %}
            {% for month_group in month_groups %}
            <ul x-show="yearOpen" x-data="{ monthOpen: false }">
              <li x-on:click="monthOpen = ! monthOpen">{{ month_group.name }} ({{ month_group.items.size }})</li>
              <ul>
                {% for post in month_group.items %}
                <li x-show="monthOpen"><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
            </ul>
            {% endfor %}
          </ul>
        {% endfor %}
        </div>
        <div x-show="activeTab === 'LINKS'">LINKS</div>
        <div x-show="activeTab === 'TECHS'">TECHS</div>
      </aside>
      <main class="flex-1">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
      </main>
    </div>
  </body>
</html>
