---
layout: default
---
<div class="mx-16 my-12 flex flex-row justify-center">
  <article class="prose prose-slate prose-a:text-blue-600 prose-code:select-all">
    <h1>{{ page.title }}</h1>
    {{ content }}
    <div class="flex justify-between">
      <div>
      {% if page.previous %}
      <a href="{{ page.previous.url }}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      </div>
      <div>
      {% if page.next %}
      <a href="{{ page.next.url }}">{{page.next.title}} &raquo;</a>
      {% endif %}
      </div>
    </div>
  </article>
</div>
